<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ga.hnbenterprises.wakabirb">

    <application
        android:allowBackup="true"
        android:icon="@drawable/birb_rainbow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name="ga.hnbenterprises.wakabirb.ResultsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity android:name="ga.hnbenterprises.wakabirb.GameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="ga.hnbenterprises.wakabirb.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="ga.hnbenterprises.wakabirb.OtherActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="ga.hnbenterprises.wakabirb.HistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="ga.hnbenterprises.wakabirb.CreditsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="ga.hnbenterprises.wakabirb.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
